.container {
    padding: 20px 20px;
}

.style-page {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
}

.card-image {
    width: 75px;
    height: 75px;
    border-radius: 10px;
    margin: 12px 15px 0px 15px;
}

.name-style {
    font-size: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.card-style {
    margin: 10px;
    width: 23%;
}

.card-content {
    cursor: default;
}

.MuiButton-root.refresh-style {
    width: 10%;
    height: 35px;
    margin-left: 5px;
}

.css-sghohy-MuiButtonBase-root-MuiButton-root.item-style {
    width: 10%;
    height: 35px;
}

.details-ctn {
    display: flex;
    justify-content: space-between;
}

.price-style {
    font-size: 16px;
    margin-top: 5px;
    color: blue;
}

.rating-style {
    font-size: 16px;
    margin-top: 5px;
}

.rating-design {
    font-size: 12px;
}

.buttonActionContainer {
    display: flex;
    justify-content: flex-end;
}

.countButton {
    display: flex;
    justify-content: space-between;
    margin: 0 10px;
}

.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}